# {{ ansible_managed }} for {{ ansible_hostname }}

allow-flight={{ allow_flight }}
difficulty={{ difficulty }}
enable-command-block={{ enable_command_block }}
force-gamemode={{ force_gamemode }}
gamemode={{ gamemode }}
hardcore={{ hardcore }}
player-idle-timeout={{ player_idle_timeout }}
pvp={{ pvp }}
view-distance={{ view_distance }}
allow-nether={{ allow_nether }}
simulation-distance={{ simulation_distance }}
spawn-animals={{ spawn_animals }}
spawn-monsters={{ spawn_monsters }}
spawn-npcs={{ spawn_npcs }}
spawn-protection={{ spawn_protection }}
generate-structures={{ generate_structures }}
generator-settings={{ generator_settings }}
level-name={{ level_name }}
level-seed={{ level_seed }}
level-type={{ level_type }}
enforce-whitelist={{ enforce_whitelist }}
white-list={{ white_list }}
broadcast-console-to-ops={{ broadcast_console_to_ops }}
broadcast-rcon-to-ops={{ broadcast_rcon_to_ops }}
function-permission-level={{ function_permission_level }}
op-permission-level={{ op_permission_level }}
enable-status={{ enable_status }}
enforce-secure-profile={{ enforce_secure_profile }}
hide-online-players={{ hide_online_players }}
max-players={{ max_players }}
motd={{ motd }}
online-mode={{ online_mode }}
prevent-proxy-connections={{ prevent_proxy_connections }}
server-ip={{ server_ip }}
server-port={{ server_port }}
enable-query={{ enable_query }}
query.port={{ query_port }}
enable-rcon={{ enable_rcon }}
rcon.password={{ rcon_password }}
rcon.port={{ rcon_port }}
require-resource-pack={{ require_resource_pack }}
resource-pack={{ resource_pack }}
resource-pack-prompt={{ resource_pack_prompt }}
resource-pack-sha1={{ resource_pack_sha1 }}
debug={{ debug }}
enable-jmx-monitoring={{ enable_jmx_monitoring }}
entity-broadcast-range-percentage={{ entity_broadcast_range_percentage }}
initial-disabled-packs={{ initial_disabled_packs }}
initial-enabled-packs={{ initial_enabled_packs }}
log-ips={{ log_ips }}
max-chained-neighbor-updates={{ max_chained_neighbor_updates }}
max-tick-time={{ max_tick_time }}
max-world-size={{ max_world_size }}
network-compression-threshold={{ network_compression_threshold }}
rate-limit={{ rate_limit }}
sync-chunk-writes={{ sync_chunk_writes }}
text-filtering-config={{ text_filtering_config }}
use-native-transport={{ use_native_transport }}
